# Dependencies
node_modules/

# Build output
dist/
build/
build-output.txt

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS
.vscode/
.DS_Store
node_modules
